nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
                div.container-fluid
                    a.navbar-brand.active(href='#' id='navbarNav') #{title}
                    div.collapse.navbar-collapse
                        ul.navbar-nav
                            a.nav-item.nav-link.active(href='#' aria-current='page' ) Home