- let currentPage = 1 
- let data = urls.slice(currentPage-1,4)  
div.row.col-10 
    p  Showing #{result} items
    each url in data
        div.col-3 
            div.card.h-100.p-2 
                if url.category === 'image' 
                    img.card-img-top(src=url.src alt='media-scrapper' height='218')   
                else
                    video(controls autoplay='false') 
                        source(src=url.src type=url.type)
                        p Sorry, your browser doesn't support embedded videos. v.card-body.text-white.bg-secondary 
                h6.card-title.text-capitalize #{url.category} 
    
    nav
        ul.pagination.mt-2
            - for (var index = 1; index <= (result/pageSize)+1; index++)
                li.page-item
                    button.page-link  #{index}  